#navar{
  background-color: #e3f2fd;
}

#about{
  text-decoration: none;
  display: flex;
}

#home{
  text-decoration: none;
  background-color: transparent;
  font-weight: 400;
  font: 20px;
  font-size: 1.25rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}